body {
    align-items: center;
    text-align: center;
}
img {
    height: 200px;
    width: 300px;
}
/* footer{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   margin-top: auto;
   position: fixed;
} */

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 20px solid black;
    padding: 50 10 50 10;
    transform: translateX(-50%);
    margin: 20px 0 20px 0;   /* top right bottom left */
    background-color: blueviolet;
   
}
code {
    color: pink
}
table {
    font-family: 'Times New Roman';
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}
tr:nth-child( odd ) {
    background-color: #dddddd;
}
video {
  width: 200px;
  height: 250px;  
}
/*universal for the whole page*/

.col {
    border: solid black 3px;
}

.row{
    background-color: blue;
    border: solid black;
}

.moRows{
    color: red;
}

.card_1{
    background-color: pink;
}

